<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>登録画面</title>
</head>
<body th:object="${registerForm}">
	<form method="post" action="/Completion">
		<table>
			<tr>
				<th>顧客名</th>
				<th><input type="text" th:field="*{customerName}" th:errorclass="fieldError" maxlength="10" /></th>
			</tr>
			<tr>
				<th>顧客名(ｶﾅ)</th>
				<th><input type="text" th:field="*{customerNameKana}" th:errorclass="fieldError" maxlength="10" /></th>
			</tr>
			<tr>
				<th>顧客番号</th>
				<th><input type="text" th:field="*{customerNo}" th:errorclass="fieldError" maxlength="12" /></th>
			</tr>
			<tr>
				<th>郵便番号</th>
				<th><input type="text" th:field="*{postalCode}" th:errorclass="fieldError" maxlength="7" /></th>
			</tr>
			<tr>
				<th>住所</th>
				<th><input type="text" th:field="*{streetAddress}" th:errorclass="fieldError" maxlength="50" /></th>
			</tr>
			<tr>
				<th>住所(ｶﾅ)</th>
				<th><input type="text" th:field="*{streetAddressKana}" th:errorclass="fieldError" maxlength="100" /></th>
			</tr>
		</table>
		<input type="submit" value="登録" />
	</form>
	
</body>
</html>
